html{
    scroll-behavior:smooth;
}

body{
    font-family:Segoe UI, sans-serif;
}

.hero{
    min-height:85vh;
    display:flex;
    align-items:center;
    background:linear-gradient(
        135deg,
        #081120,
        #15284d
    );
    color:white;
}

.hero img{
    max-height:450px;
}

.card{
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.contacto{
    background:#0f172a;
    color:white;
    padding:80px 0;
}

footer{
    background:black;
    color:white;
    text-align:center;
    padding:20px;
}

.hero-logo{
    max-width:400px;
    width:100%;
    height:auto;
}
.hero-title{
    font-size:3rem;
}
