html{
    scroll-behavior:smooth;
}

body{
    font-family:Segoe UI, sans-serif;
}

.hero{
    min-height:90vh;
    display:flex;
    align-items:center;
    background:linear-gradient(
    135deg,
    #0f172a,
    #1e293b
    );
    color:white;
}

.hero img{
    max-height:450px;
}

.card{
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.contacto{
    background:#0f172a;
    color:white;
    padding:80px 0;
}

footer{
    background:black;
    color:white;
    text-align:center;
    padding:20px;
}